<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span ng-bind-html="match.label.name | uibTypeaheadHighlight:query"></span> - <span>{{match.label.iata}}</span>
    </a>
</script>

<form name="$ctrl.flightSearch"
      ng-submit="$ctrl.serachFlights()" novalidate
      promise-btn>
    <div class="row">
        <div class="col-sm-4">
            <div class="radio inline-block">
                <label>
                    <input type="radio" value="oneway" ng-model="$ctrl.travelType">
                    One Way
                </label>
            </div>
            <div class="radio inline-block">
                <label>
                    <input type="radio" value="roundtrip" ng-model="$ctrl.travelType">
                    Round Trip
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group"
             ng-class="{ 'has-error': $ctrl.flightSearch.originAirportName.$dirty && $ctrl.flightSearch.originAirportName.$invalid }">
            <label class="full-width">
                Origin Airport
                <input type="text"
                       name="originAirportName"
                       ng-model="$ctrl.originAirportName"
                       placeholder="Departure Airport"
                       ng-required="true"
                       class="form-control"
                       typeahead-on-select="$ctrl.selectOrigin($item)"
                       uib-typeahead="airport.name as airport for airport in $ctrl.flights.getAirportCode($viewValue) | limitTo: 10"
                       typeahead-template-url="customTemplate.html"
                       ng-model-options="{updateOn: 'default', debounce: { 'default': 300}}"
                       typeahead-min-length="3"
                       typeahead-show-hint="false"
                       typeahead-loading="$ctrl.isOriginLoading"/>
                <span ng-show="$ctrl.isOriginLoading" class="rotating loading__icon glyphicon glyphicon-refresh"
                      aria-hidden="true"></span>
            </label>
            <div class="help-block"
                 ng-messages="$ctrl.flightSearch.originAirportName.$error"
                 ng-if="$ctrl.flightSearch.originAirportName.$dirty" role="alert">
                <div ng-message="required">You did not enter a field</div>
            </div>
        </div>

        <div class="col-sm-6 form-group"
             ng-class="{ 'has-error': $ctrl.flightSearch.destinationAirportName.$dirty && $ctrl.flightSearch.destinationAirportName.$invalid }">
            <label class="full-width">
                Destination Airport
                <input type="text"
                       name="destinationAirportName"
                       ng-model="$ctrl.destinationAirportName"
                       class="form-control"
                       placeholder="Return Airport"
                       ng-required="true"
                       typeahead-on-select="$ctrl.selectDestination($item)"
                       uib-typeahead="airport.name as airport for airport in $ctrl.flights.getAirportCode($viewValue) | limitTo: 10"
                       typeahead-template-url="customTemplate.html"
                       ng-model-options="{updateOn: 'default', debounce: { 'default': 300}}"
                       typeahead-min-length="3"
                       typeahead-show-hint="false"
                       typeahead-loading=" $ctrl.isDestinationLoading"/>
                <span ng-show="$ctrl.isDestinationLoading" class="rotating loading__icon glyphicon glyphicon-refresh"
                      aria-hidden="true"></span>

            </label>
            <div class="help-block"
                 ng-messages="$ctrl.flightSearch.destinationAirportName.$error"
                 ng-if="$ctrl.flightSearch.returnAirport.$dirty" role="alert">
                <div ng-message="required">You did not enter a field</div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group"
             ng-class="{ 'has-error': $ctrl.flightSearch.departureDate.$dirty && $ctrl.flightSearch.departureDate.$invalid && !$ctrl.departureDateOpen}">
            <label class="full-width">
                Departure Date
                <span class="input-group">
                    <input type="text"
                           name="departureDate"
                           class="form-control"
                           placeholder="DD-MMM-yyyy"
                           uib-datepicker-popup="dd-MMMM-yyyy"
                           ng-model="$ctrl.departureDate"
                           is-open="$ctrl.departureDateOpen"
                           show-button-bar="false"
                           datepicker-options="$ctrl.dateOptions"
                           ng-required="true"
                    />
                    <span class="input-group-btn"
                          ng-class="{ 'has-error': $ctrl.flightSearch.departureDate.$dirty && $ctrl.flightSearch.departureDate.$invalid && !$ctrl.departureDateOpen}">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.openDepartureDate()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </span>
            </label>
            <div class="help-block"
                 ng-messages="$ctrl.flightSearch.departureDate.$error"
                 ng-if="$ctrl.flightSearch.departureDate.$dirty && !$ctrl.departureDateOpen" role="alert">
                <div ng-message="required">You did not enter a field</div>
            </div>

        </div>
        <div class="col-sm-6 form-group">
            <label class="full-width"
                   ng-class="{ 'has-error': ($ctrl.flightSearch.returnDate.$dirty && $ctrl.flightSearch.returnDate.$invalid && !$ctrl.returnDateOpen) }">
                Return Date
                <span class="input-group">
                    <input type="text"
                           name="returnDate"
                           class="form-control"
                           placeholder="dd-mm-yyyy"
                           uib-datepicker-popup="dd-MMMM-yyyy"
                           ng-model="$ctrl.returnDate"
                           is-open="$ctrl.returnDateOpen"
                           show-button-bar="false"
                           datepicker-options="$ctrl.returnDateOptions"
                           min-date="$ctrl.minReturnDate()"
                           ng-required="$ctrl.travelType === 'roundtrip'"
                           ng-disabled="$ctrl.travelType !== 'roundtrip' || $ctrl.canEnterDeparture()"
                    />
                    <span class="input-group-btn"
                          ng-class="{ 'has-error': ($ctrl.flightSearch.returnDate.$dirty && $ctrl.flightSearch.returnDate.$invalid&& !$ctrl.returnDateOpen) }">
                        <button type="button"
                                class="btn btn-default"
                                ng-disabled="$ctrl.travelType !== 'roundtrip' || $ctrl.canEnterDeparture()"
                                ng-click="$ctrl.openReturnDate()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </span>
            </label>
            <div class="help-block"
                 ng-messages="$ctrl.flightSearch.returnDate.$error"
                 ng-if="$ctrl.flightSearch.returnDate.$dirty && !$ctrl.returnDateOpen" role="alert">
                <div ng-message="required">You did not enter a field</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 form-group">
            <label class="full-width">
                Number of adults
                <input class="form-control"
                       type="number"
                       name="numberAdults"
                       min="0"
                       ng-model="$ctrl.numberAdults"
                       ng-required
                >
            </label>
        </div>

        <div class="col-sm-4 form-group">
            <label class="full-width">
                Number of children
                <input class="form-control"
                       type="number"
                       name="numberChildren"
                       ng-model="$ctrl.numberChildren"
                       min="0"
                       ng-required
                >
            </label>
        </div>

        <div class="col-sm-4 form-group">
            <label class="full-width">
                Number of Infants
                <input class="form-control"
                       type="number"
                       name="numberInfants"
                       ng-model="$ctrl.numberInfants"
                       min="0"
                       ng-required/>
            </label>
        </div>
        <div class="help-block col-sm-12 text-center"
             ng-if="($ctrl.flightSearch.numberAdults.$dirty || $ctrl.flightSearch.numberChildren.$dirty || $ctrl.flightSearch.numberInfants.$dirty) && !$ctrl.isValidPassengers()">
            <div ng-if="!$ctrl.isValidPassengers()">You must have at least one passenger</div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
                    class="btn btn-primary pull-right">Submit
            </button>
        </div>
    </div>
</form>
