@import '../../styles/variables';

.full-width {
    width: 100%;
}

.inline-block {
    display: inline-block !important;
}

form {
    .help-block {
        color: $state-danger-text;
    }
}

.has-error {
    color: $state-danger-text;
    &.input-group-btn {
        button {
            border-color: $state-danger-text;
        }
    }
    label {
        color: $state-danger-text;
    }
}

.input-group-btn {
    button {
        padding: 6.5px 12px;
    }
}

.glyphicon{
    &.loading__icon{
        position: absolute;
        right: 2em;
        top: 2.2em;
    }
}

.rotating {
    animation: rotating 2s linear infinite;
}

@keyframes rotating /* Safari and Chrome */ {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


button{
    &.is-loading {
        .glyphicon-refresh {
            display: inline-block;
        }
    }
    .glyphicon-refresh {
        display: none;
    }
}
