@import '../../styles/variables';

.panel-light > .panel-heading {
    box-shadow: 3px 3px 9px #888888;
}

flight-results {
    .panel-group {
        margin-bottom: 0 !important;
    }
}

.block {
    display: block;
}

.hover-pointer {
    text-decoration: underline;
    &:hover {
        cursor: pointer;
    }
}
